{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}
                    <a class="navbar-brand" href="{{ path('map_homepage') }}">Traildiary</a>
                {% endblock %}
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                {% block menu %}
                    {{ mopa_bootstrap_menu('MapBundle:Builder:mainMenu', {'automenu': 'navbar'}) }}
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block footer %}
{% endblock footer %}

{% block foot_script %}
    {% block foot_script_assetic %}

    {# own Css #}
    {% stylesheets '@MapBundle/Resources/public/less/main.less' filter='less' output='css/compiled-main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {# jQuery #}
    {% javascripts 'bundles/bmatznerjquery/js/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# jQuery.ui #}
    {% stylesheets 'bundles/bmatznerjqueryui/css/ui-lightness/jquery-ui.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts 'bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Bootstrap #}
    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% endblock foot_script_assetic %}
{% endblock foot_script %}