{% extends '::base.html.twig' %}

{% block title %}
    {% trans %}edittour{% endtrans %}
{% endblock %}


{% block headline %}
    {% trans %}map{% endtrans %}
{% endblock headline %}

{% block content_row %}
    <div class="row margin-bottom">
        <div class="col-md-12">
            <div id="map">
                <noscript><p>{% trans %}javascriptisrequiredformap{% endtrans %}</p></noscript>
            </div>
        </div>
    </div>
{% endblock content_row %}

{% block foot_script_assetic %}
    {{ parent() }}

    {# leaflet #}
    {% stylesheets 'bundles/bmatznerleaflet/css/leaflet.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts 'bundles/bmatznerleaflet/js/leaflet.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# own JS #}
    {% javascripts '@MapBundle/Resources/public/js/showTrailsWidget.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        {% if entities|length > 0 %}
            var GhyneckMapBundleTours = [];
            {% for entity in entities %}
                GhyneckMapBundleTours.push({
                    'title': '{{ entity.title }}',
                    'link': 'http://www.google.de',
                    'markerText' : "{{ entity.title }} <br/> <a href='{{ path('tour_show', { 'id': entity.id }) }}' target='_blank'>{% trans %}showtrail{% endtrans %}</a>",
                    'lat': {{ entity.markerlat }},
                    'lon': {{ entity.markerlon }},
                });
            {% endfor %}
        {% endif %}

        $(document).ready(function () {
            $("#map").showtrailswidget({
                "centerPoint" : {lat:'47.99366',lon:'7.83992'},
                "imagePath": "{{ asset('bundles/map/images/') }}",
                "tours": GhyneckMapBundleTours
            });
        });
    </script>
{% endblock foot_script_assetic %}
