{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Show Map{% endblock %}


{% block headline %}
    Karte
{% endblock headline %}

{% block content_row %}
    <div id="mapContainer" data-tracks="">
        <div id="map">
        </div>
    </div>

    <a href="{{ path('tour') }}">
        Alle zeigen
    </a>
{% endblock content_row %}

{% block footer %}
{% endblock footer %}

{% block foot_script_assetic %}
    {# jQuery #}
    {% javascripts 'bundles/bmatznerjquery/js/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# jQuery.ui #}
    {% stylesheets 'bundles/bmatznerjqueryui/css/ui-lightness/jquery-ui.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts 'bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# leaflet #}
    {% stylesheets 'bundles/bmatznerleaflet/css/leaflet.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts 'bundles/bmatznerleaflet/js/leaflet.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# own Css and JS #}
    {% stylesheets '@MapBundle/Resources/public/css/main.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts '@MapBundle/Resources/public/js/mapWidget.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mapContainer").leafletwidget({
                "trackPoints": {{ trackPointsInLeafletFormat }},
                "imagePath": "{{ asset('bundles/map/images/') }}"
            });
        });
    </script>
{% endblock foot_script_assetic %}
