{% extends '::base.html.twig' %}

{% block title %}Show Map{% endblock %}


{% block headline %}
    Karte
{% endblock headline %}

{% block content_row %}
    <div id="mapContainer" data-tracks="">
        <div id="map">
        </div>
    </div>

    <a href="{{ path('category') }}">
        Alle zeigen
    </a>
{% endblock content_row %}

{% block foot_script_assetic %}
    {{ parent() }}

    {# leaflet #}
    {% stylesheets 'bundles/bmatznerleaflet/css/leaflet.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts 'bundles/bmatznerleaflet/js/leaflet.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# own JS #}
    {% javascripts '@MapBundle/Resources/public/js/mapWidget.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#mapContainer").leafletwidget({
                "trackPoints": {{ trackPointsInLeafletFormat }},
                "imagePath": "{{ asset('bundles/map/images/') }}"
            });
        });
    </script>
{% endblock foot_script_assetic %}
