{% extends '::base.html.twig' %}

{% block title %}
    {% trans %}tourlist{% endtrans %}
{% endblock %}

{% block headline %}
    {% trans %}tourlist{% endtrans %}
{% endblock headline %}

{% block content_row %}
    <div class="row margin-top">
        <ul class="list-group">
            {% for entity in entities %}
                <li class="list-group-item">
                    <a href="{{ path('tour_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div>
            <a href="{{ path('tour_new') }}">
                {% trans %}createtrail{% endtrans %}
            </a>
        </div>
        <div>
            <a href="{{ path('category_new') }}">
                {% trans %}createregion{% endtrans %}
            </a>
        </div>
        <div>
            <a href="{{ path('map_homepage') }}">
                {% trans %}map{% endtrans %}
            </a>
        </div>
    </div>
{% endblock content_row %}



