{% extends '::base.html.twig' %}

{% block title %}
    {{ entity.title }}
{% endblock %}

{% block headline %}
    {{ entity.title }}
{% endblock headline %}

{% block content_row %}
    {% if entity.gpxFileName %}
    <div class="row margin-bottom">
        <div class="col-md-12">
            <div id="map">
                <noscript><p>Zum Anzeigen der Karte wird Javascript benötigt.</p></noscript>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div>
                {{ entity.description }}
            </div>
            <div>
                <a download="{{ vich_uploader_asset(entity, 'gpx_file') }}" href="{{ vich_uploader_asset(entity, 'gpx_file') }}">Download GPX</a>
            </div>
            <div>
                <a href="{{ path('tour_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </div>
        </div>
        <div class="col-md-6">
            {% if entity.tourImages %}
                <ul class="gallery">
                    {% for tourImage in entity.tourImages %}
                        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img class="img-responsive" src="{{ vich_uploader_asset(tourImage, 'image') }}" alt="Image"/>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock content_row %}

{% block foot_script_assetic %}
    {{ parent() }}

    {# leaflet #}
    {% stylesheets 'bundles/bmatznerleaflet/css/leaflet.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts 'bundles/bmatznerleaflet/js/leaflet.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# own JS #}
    {% javascripts '@MapBundle/Resources/public/js/lib/leaflet-omnivore.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@MapBundle/Resources/public/js/mapWidget.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#map").leafletwidget({
                "centerPoint" : {lat:{{ entity.markerlat }},lon:{{ entity.markerlon}}},
                "webPathToGpxFile" : "{{ vich_uploader_asset(entity, 'gpx_file') }}",
                "imagePath": "{{ asset('bundles/map/images/') }}"
            });
        });
    </script>
{% endblock foot_script_assetic %}