{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block container %}
    <h1>{{ region.title }}</h1>


    {% if region.trails|length > 0 %}
    <ul>
        {% for trail in region.trails %}
            <li>
                <a href="{{ path('trail_show', { 'id': trail.id }) }}">{{ trail.title }}</a>
            </li>
        {% endfor %}

    </ul>
    {% else %}
        {% trans %}no_regions_found{% endtrans %}
    {% endif %}


    <a class="btn btn-primary" href="{{ path('region_edit', {'id': region.id}) }}" role="button">
        {% trans %}edit_region{% endtrans %}
    </a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}