{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TourImage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>AltText</th>
                <td>{{ entity.altText }}</td>
            </tr>
            <tr>
                <th>file</th>
                <td>{{ vich_uploader_asset(entity, 'image') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tourimage') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tourimage_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
